@import "http://webfonts.ru/import/ptsans.css";
/*font-family: 'PT Sans Narrow';*/

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-weight: bold;
    font-size: 14px;
    font-family: 'PT Sans Narrow', sans-serif;
    text-transform: uppercase;
    background: #000 url("../img/111.jpg") 0 0 no-repeat;
    background-position: center top;
    background-size: 100%;
}
/*layout*/
/*div{
	border: 3px dotted red;
}*/

.layout-center-wrapper {
    width: 940px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.layout-center-wrapper:after {
    content: '';
    display: table;
    clear: both;
}
/*topmenu*/

.topmenu {
    background: #000;
}

.topmenu-left {

    float: left;
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 21px;

}

.topmenu-left li {
    display: inline-block;
    padding-top: 27px;
    padding-bottom: 27px;
    margin-right: 46.5px;
}

.topmenu-left li:hover {
    background-color: #242424;
    padding-bottom: 17px;
    border-bottom: 3px solid white;
}

.topmenu-left li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: 300;
    font-size: 16px;
}

.account-menu {
    float: right;
    padding-top: 27px;
    padding-bottom: 20px;
}

.account-menu:before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background: url("../img/enter.png") 0 0 no-repeat;
    right: 36px;
}

.account-menu a {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: 300;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}
/*logo*/

.logo {
    width: 356px;
    margin: 60px auto;
    margin-bottom: 28px;
}
/*features*/

.features {
    margin: 0;
    padding: 0;
    color: #fff;
    text-transform: uppercase;
    list-style-type: none;
    margin-bottom: 75px;
}

.features li {
    margin: 0;
    padding: 0;
    text-decoration: none;
    width: 280px;
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    padding-left: 9px;
    padding-right: 9px;
    margin-right: 20px;
}

.features li:last-child {
    margin-right: 0;
}

.feature-caption {
    font-size: 30px;
    position: relative;
    margin-bottom: 75px;
}

.feature-caption:after {
    content: "";
    position: absolute;
    background: url("../img/diamond.png") 0 0 no-repeat;
    height: 30px;
    width: 30px;
    top: 45px;
    left: 45%;
}

.content-block {
    background: #fff url("../img/content-bg.png") repeat;
    background: #fff url("../img/greystripe.png") 50% 50% no-repeat;
    padding: 53px 80px;
    padding-bottom: 55px;
    margin-bottom: 35px;
}

.content-block:after {
    content: "";
    clear: both;
    display: table;
}

.left-column {
    float: left;
    position: relative;
    width: 330px;
    height: 324px;
    overflow: hidden;
}

.right-column {
    float: right;
    position: relative;
    width: 300px;
    height: 324px;
    overflow: hidden;
}

.content-block p {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    line-height: 24px;
}

.content-caption {
    font-size: 30px;
    text-transform: uppercase;
    display: block;
    position: relative;
    width: 340px;
    margin-bottom: 28px;
}

.info-text p {
    margin: 0;
    padding: 0;
}

.info-text {
    text-transform: uppercase;
    display: block;
    position: relative;
    width: 280px;
    line-height: 24px;
    margin-bottom: 24px;
}

.date {
    font-family: "Georgia", sans-serif;
    font-style: italic;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    text-transform: lowercase;
    margin-bottom: 0;
    padding: 0;
}

.button {
    display: inline-block;
    background: #000;
    width: 140px;
    text-align: center;
    height: 27px;
    padding-top: 13px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    margin-right: 15px;
}

.button:last-child {
    margin-right: 0;
}

.button-block {
    position: absolute;
    bottom: 0;
}

.gallery {
    border: 5px solid #fff;
}

.signup {
    margin-top: 30px;
}

.signup input[type="text"] {
    border: 2px solid #000;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 9px;
    margin-right: 17px;
    margin-bottom: 20px;
    width: 120px;
}

.signup input[type="text"]:nth-child(2n) {
    margin-right: 0px;
}

.signup input[type="submit"] {
    border: 0 solid #000;
    background: #000 url() 0 0 no-repeat;
    color: #fff;
    width: 100%;
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 14px;
    margin-top: 15px;
    line-height: 14px;
}

.footer {
    height: 129px;
    background: #fff url("../img/footer-bg.png") repeat;
    vertical-align: middle;
    padding-top: 60px;
}

.left {
    float: left;
    width: 250px;
    color: #fff;
    line-height: 24px;
}

.middle {
    display: block;
    position: absolute;
    width: 151px;
    margin-left: 400px;
}

.middle-caption {
    width: 140px;
    position: relative;
    margin-left: 20px;
    color: #fff;
}

.middle-caption1 {
    width: 140px;
    position: relative;
    margin-left: 30px;
    color: #fff;
    margin-bottom: 13px;
}

.right {
    color: #fff;
    display: inline-block;
    width: 200px;
    float: right;
    width: 140px;
}

.soc-button-vk {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 13px;
    padding-left: 17px;
    padding-right: 16px;
    background: #000;
    margin-top: 10px;
    margin-right: 5px;
}

.soc-button-fb {
    display: inline-block;
    padding-top: 11px;
    padding-bottom: 13px;
    padding-left: 18px;
    padding-right: 19px;
    background: #000;
    margin-top: 10px;
    margin-right: 5px;
}

.soc-button-inst {
    display: inline-block;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 14px;
    padding-right: 14px;
    background: #000;
    margin-top: 10px;
}

.soc-button:last-child {
    margin-right: 0;
}
.info-text-content{
	margin-top: 1px;
	line-height: 24px;
	margin-bottom: -5px;
}